<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzsw9fvVlOzrbbff96HCsM4DVwa-gYWVo</string>
	<key>GCM_SENDER_ID</key>
	<string>897840345231</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.barberApp</string>
	<key>PROJECT_ID</key>
	<string>beautify-bd62c</string>
	<key>STORAGE_BUCKET</key>
	<string>beautify-bd62c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:897840345231:ios:2ba95c9ef7e2ab6bbc80fa</string>
</dict>
</plist>